@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

:root {
    --first-color: #034EA2;
    --second-color: #ED1D24;
    --white-color: #ffffff;
    --offwhite-color: #fdf9f1;
    --black-color: #000000;
    --normal-font: "Outfit", sans-serif;
    --heading-font: "Bodoni Moda", serif;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    html,body {
        overflow-x: hidden;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
}

p {
	font-weight: 400;
    font-size: 18px;
}

p,li,a,span,small,label,button,td,.btn {
    font-family: var(--normal-font);
}

input::placeholder {
    font-family: var(--normal-font);
}

h1,h2,h3,h4,h5,h6 {
    font-family: "DM Serif Text", serif;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}
.form-select:focus {
    box-shadow: none;
    border: 1px solid var(--first-color);
}

/* width */
::-webkit-scrollbar {
    width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--offwhite-color);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--third-color);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--first-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--white-color) !important;
    color: var(--first-color) !important;
}

.nav-link {
    color: var(--first-color);
}
.nav-link:hover {
    color: var(--third-color);
}

/* body {
    font-family: var();
} */

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/* Breadcrumb */
#breadcrumb {
    margin: 50px 0;
}
#breadcrumb p a {
    color: var(--first-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #breadcrumb {
        margin: 30px 0;
    }
}
/* Breadcrumb */


/* Top Navbar */
#top_nav {
    background-color: var(--first-color);
    padding: 6px 25px;
}
#top_nav ul li a {
    color: var(--white-color);
}
#top_nav ul li {
    color: var(--white-color); 
}
#top_nav ul li a:hover {
    color: var(--offwhite-color);
}
#top_nav ul li {
    display: inline-block;
}
.top_nav_number ul li {
    padding-left: 20px;
}
.top_nav_number ul li:first-child {
    padding-left: 0;
}
.top_nav_social ul li {
    padding-right: 15px;
}
.top_nav_social ul li a {
    font-size: 18px;
}
.top_nav_social ul li:last-child {
    padding-right: 0;
}

#top_nav .btn {
    background-color: var(--second-color);
}
#reservation_btn {
    background-color: var(--white-color) !important;
    color: var(--first-color);
    font-weight: 600;
    font-size: 16px;
    border-radius: 30px;
}
#reservation_btn:hover {
    background-color: var(--first-color) !important;
    color: var(--white-color);
}


/* Main Navbar */
#main_navbar {
    background-color: var(--offwhite-color);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}
#main_navbar .main_navbar_logo {
    width: 170px;
    height: 100%;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar_icons_item {
    flex-direction: row;
}
#navbar_right_btn .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
#nav_icons ul li:last-child {
    padding-left: 0;
}
#navbarTogglerDemo01 ul li {
    display: block !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: auto;
}
#services_items img {
    height: auto;
    width: 35px;
}
nav .nav-item {
    padding: 0 5px;
}
nav .nav-link {
    font-weight: 400;
    font-size: 18px;
    color: var(--first-color);
}
nav .btn {
    background-color: var(--first-color);
    border-radius: 10px;
    color: var(--white-color);
}
nav .btn:hover {
    background-color: var(--second-color);
    color: var(--offwhite-color);
}
.offcanvas.show:not(.hiding) {
    overflow-y: scroll;
}

#service_menu_link:hover #services_items {
    display: block;
}

#services_items .d-flex {
    display: block !important;
}
.offcanvas-header img {
    width: 140px;
}

@keyframes animateBtn {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .dropdown-menu.show {
        display: block;
    }
    #mobile_search_option {
        display: block;
        padding: 5px 15px;
    }
    #mobile_search_option .btn {
        background-color: var(--third-color);
        color: var(--offwhite-color);
        border: none;
    }
    #search_option {
        display: none;
    }
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    .dropdown-menu.show {
        display: block;
    }
    #mobile_search_option {
        display: block;
        padding: 5px 15px;
    }
    #mobile_search_option .btn {
        background-color: var(--third-color);
        color: var(--offwhite-color);
        border: none;
    }
    #search_option {
        display: none;
    }
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1100px) {
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
}  
@media only screen and (min-width: 1101px) and (max-width: 1500px)  {
    .dropdown-menu.show ul {    
        margin-bottom: 25px;
    }
} 

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #top_nav {
        padding: 6px 15px;
    }
    #main_navbar .main_navbar_logo {
        width: 150px;
    }
    #top_nav #top_nav_social_icon {
        display: none;
    }
    #top_nav .top_nav_email {
        display: none;
    }
    .top_nav_number .top_nav_phone {
        padding-left: 0;
    }
    .text-wrap-menu {
        text-wrap: auto;
    }
    nav .btn {
        margin-top: 30px;
    }
    #navbar_mobile_hide_icon {
        display: none;
    }
    #main_navbar .justify-content-around {
        justify-content: space-between !important;
    } 
    #top_nav .justify-content-evenly {
        justify-content: center !important;
    }
    .navbar-nav  {
        padding-left: 15px !important;
    }
    #navbar_right_btn .btn {
        font-size: 16px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 800px) {
    #top_nav {
        padding: 6px 15px;
    }
    #main_navbar .main_navbar_logo {
        margin-left: 10px;
    }
    #navbar_mobile_hide_icon {
        display: none;
    }
    #main_navbar .justify-content-around {
        justify-content: space-between !important;
    } 
}

/* Navbar */


/* About Us */
.partner_message {
    padding-bottom: 50px;
}
.partner_message h2 {
    font-size: 40px;
    color: var(--first-color);
}
.about_first_section {
    padding: 50px 0;
}
.about_first_section img {
    width: 100%;
    border-radius: 10px;
}
.about_first_section h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.about_first_section h2 {
    font-size: 40px;
    margin-top: 15px;
}
.about_first_section .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.about_first_24 {
    background-color: var(--first-color);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.about_first_24 .fa-arrow-up-right-from-square {
    animation: aboutFirstIcon 2s infinite linear;
    border-radius: 50%;
    padding: 15px;
    border: 1px solid var(--offwhite-color);
}
.about_first_24 h3, .fa-arrow-up-right-from-square {
    color: var(--white-color);
}
.about_first_24 small {
    color: var(--white-color) !important;
}
.about_first_section .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.about_counting {
    padding: 80px 0;
    background: linear-gradient(rgba(20, 9, 66, 0.8),rgba(36, 51, 113, 0.8)),url("../image/Rectangle-46-min.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_counting h3 {
    font-size: 60px;
    color: var(--white-color);
}
.counting_box {
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about_counting p {
    color: var(--white-color);
    font-size: 18px;
}
.about_service {
    padding: 50px 0;
}
.about_service h3 {
    font-size: 40px;
}
.about_service h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.about_service .card i {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 50%;
    color: var(--offwhite-color);
    transform: rotate(-45deg);
}
.about_schedule_section {
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../image/meet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about_schedule_section h3 {
    font-size: 40px;
    color: var(--white-color);
}
.video_about {
    padding: 50px 0;
}
.about_schedule_section p {
    color: var(--offwhite-color);
}
.schedule_get_btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.schedule_get_btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.schedule_contact_btn {
    color: var(--offwhite-color);
    outline: 1px solid var(--offwhite-color);
}
.schedule_contact_btn:hover {
    color: var(--black-color);
    outline: none;
    background-color: var(--offwhite-color);
}
.what_we_do_about {
    padding: 50px 0;
}
.what_we_do_about h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.what_we_do_about h3 {
    font-size: 40px;
    color: var(--first-color);
    margin-top: 15px;
}
.what_we_do_about h4 {
    color: var(--second-color);
}
.how_it_works_bg {
    background: linear-gradient(rgba(242, 242, 242, 0.9),rgba(242, 242, 242, 0.9)),url("../image/it_work.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    border-radius: 15px;
}
.how_it_works_bg h5 {
    display: inline;
    background-color: var(--second-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.how_it_works_bg h3 {
    font-size: 40px;
    color: var(--first-color);
    margin-top: 15px;
}
.how_it_works_bg .how_it_point i {
    font-size: 40px;
    color: var(--second-color);
}
.how_it_works_bg h4 {
    margin-top: 15px;
}
.about_testimonial {
    background: linear-gradient(rgba(255, 255, 249, 0.8),rgba(255, 255, 249, 0.8)),url("../image/testimonial-two-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}
.about_testimonial h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.about_testimonial h3 {
    font-size: 40px;
    color: var(--first-color);
    margin-top: 15px;
}
.about_testimonial .testimonialSwiper img {
    border-radius: 50%;
}
.testimonia_div {
    background: var(--offwhite-color);
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgba(112, 112, 112, 0.2);
}
.Quote_sign {
    background-color: var(--first-color);
    color: var(--offwhite-color);
    display: inline;
    padding: 15px 20px;
    border-radius: 5px;
}
.Quote_sign p {
    font-size: 50px;
}
.testimonia_div p {
    margin-top: 15px;
}
@keyframes aboutFirstIcon {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .partner_message {
        padding-bottom: 30px;
    }
    .partner_message h2 {
        font-size: 35px;
    }
    .about_first_section {
        padding: 30px 0;
    }
    .about_first_section h5 {
        margin-top: 20px;
    }
    .about_first_section h2 {
        font-size: 30px;
    }
    .about_first_2 {
        display: none;
    }
    .about_first_1 {
        margin-bottom: 25px;
    } 
    .video_about{
        padding: 30px 0;
    }
    .video_about iframe {
        height: 300px;
    }
    .what_we_do_about {
        padding: 30px 0;
    }
    .what_we_do_about h3 {
        font-size: 30px;
    }
    .about_service h3 {
        font-size: 30px;
    } 
    .about_schedule_section {
        padding: 50px 0;
    } 
    .about_schedule_section h3 {
        font-size: 30px;
    }
    .about_counting h3 {
        font-size: 40px;
    }
    .about_counting {
        padding: 50px 0;
    }
    .counting_width_mobile {
        width: 50%;
    }
    .counting_box {
        margin-bottom: 20px;
    }
    .how_it_works_bg {
        padding: 40px 0;
    }
    .how_it_works_bg h3 {
        font-size: 30px;
    }
    .about_testimonial {
        padding: 40px 0;
    }
    .about_testimonial h3 {
        font-size: 30px;
    }
    .wedo_right_side_img {
        width: 100%;
    }
}
/* About Us */


/* Service */
.service_first_section {
    padding-bottom: 50px;
}
.service_first_section h2 {
    font-size: 40px;
    color: var(--first-color);
}
.service_left_part .btn {
    background-color: var(--first-color);
    color: var(--offwhite-color);
}
.service_left li {
    font-size: 18px;
}
.service_left_part .btn:hover {
    background-color: var(--second-color);
    color: var(--offwhite-color);
}
.service_left img {
    border-radius: 10px;
    width: 100%;
}
.service_right_section {
    position: sticky;
    top: 100px;
}
.service_first_section .service_right_services ul li {
    border: 1px solid rgba(112, 112, 112, 0.2);
    margin-bottom: 10px; 
    padding: 10px;
    border-radius: 5px;
}
.service_first_section .service_right_section ul li a {
    color: var(--first-color);
}
.service_first_section .service_right_section ul li a i {
    color: var(--first-color);
}
.service_right_contact {
    background-color: var(--offwhite-color);
    padding: 15px;
    border-radius: 10px;
}
.service_right_img img {
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
}
.service_right_touch {
    background-color: var(--first-color);
    margin-top: 10px;
    border-radius: 10px;
    padding: 20px;
    color: var(--white-color);
}
.service_right_touch .btn {
    background-color: var(--offwhite-color);
    color: var(--black-color);
}
.service_right_touch .btn:hover {
    color: var(--white-color);
}
.service_second {
    padding: 50px 0;
}
.service_second h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.service_second h3 {
    font-size: 40px;
    color: var(--first-color);
    margin-top: 15px;
}
.service_work_div {
    background-color: var(--offwhite-color);
    padding: 10px;
    border-radius: 10px;
}
.service_work_div img {
    border-radius: 5px;
}
.service_page_point {
    background-color: var(--offwhite-color);
    padding: 15px;
    border-radius: 10px;
}
.service_page_point i {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--second-color);
}
.service_third_section {
    background-color: var(--offwhite-color);
    padding: 50px 0;
}
.service_third_section h4 {
    font-size: 35px;
}
.service_third_section i {
    padding: 15px;
    font-size: 40px;
    color: var(--second-color);
    margin-bottom: 15px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .service_first_section {
        padding-bottom: 30px;
    }
    .service_right_section {
        margin-top: 20px;
    }
    .service_second {
        padding: 30px 0;
    }
    .service_left iframe {
        height: 300px;
    }
    .service_second h3 {
        font-size: 30px;
    }
    .service_first_section h2 {
        font-size: 35px;
    }
    .service_third_section {
        padding: 30px 0;
    }
    .service_third_section h4 {
        font-size: 25px;
    }
}
/* Service */


/* Pricing */
.price_first_section {
    padding-bottom: 50px;
}
.price_first_section h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.price_first_section h2 {
    font-size: 40px;
    margin-top: 10px;
}
.price_second {
    padding: 100px 0;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../image/home2-image1-copyright.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.price_form_side {
    background-color: var(--offwhite-color);
    padding: 40px;
    border-radius: 10px;    
}
.price_form_side h3 {
    font-size: 40px;
}
.price_second h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.price_second input {
    margin-bottom: 15px;
}
.price_second .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.price_second .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px)  {
    .price_second {
        padding: 40px 0;
    }
}
/* Pricing */


/* Blog */
#blog_page {
    padding-bottom: 50px;
}
#blog_side .card h4 {
    color: var(--first-color);
    font-size: 35px;
}
#blog_side .blog_card_img{
    position: relative;
}
#blog_side .blog_card_img .fa-arrow-up-right-from-square {
    position: absolute;
    bottom: -10px;
    right: 20px;
    background-color: var(--first-color);
    padding: 15px;
    color: var(--white-color);
    border-radius: 5px;
}
#blog_side .blog_card_img .fa-arrow-up-right-from-square:hover {
    background-color: var(--second-color);
}
#blog_side .card h4:hover {
    color: var(--second-color);
}
#blog_side .card p {
    color: var(--black-color);
}
#blog_side .card small {
    color: var(--black-color);
}
.blog_right_side {
    position: sticky;
    top: 100px;
    margin-bottom: 20px;
}
.blog_right_search {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_search .btn {
    background-color: var(--offwhite-color);
    color: var(--first-color);
    border: none;
}
.blog_right_search .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.blog_right_category {
    background-color: var(--offwhite-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_category ul li {
    margin: 5px 0;
}
.blog_right_category ul li a {
    color: var(--red-color);
}
.blog_right_shef {
    margin: 30px 0;
}
.blog_right_shef img {
    width: 100%;
    border-radius: 10px;
}
.blog_right_tags {
    background-color: var(--first-color);
    padding: 15px;
    border-radius: 5px;
}
.blog_right_tags hr {
    color: var(--offwhite-color);
}
.blog_right_tags h4 {
    color: var(--offwhite-color);
}
.blog_right_tags ul li {
    display: inline-block;
    background-color: var(--offwhite-color);
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}
.blog_right_tags ul li a {
    color: var(--first-color);
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    #blog_page {
        padding-bottom: 30px;
    }
    #blog_side .card h4 {
        font-size: 25px;
    }
    .blog_right_side {
        margin-top: 30px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    #blog_page {
        padding: 30px 0;
    }
}
/* Blog */


/* Single Blog */
#blog_single_page {
    padding-bottom: 50px;
}
#single_blog_write {
    padding-bottom: 30px;
}
.signle_blog_main_img {
    border-radius: 10px;
}
#blog_single_page img {
    width: 100%;
}
.single_blog_tags {
    background-color: var(--first-color);
    border-radius: 5px;
}
.single_blog_tags ul li {
    display: inline-block;
    background-color: var(--red-color);
    margin: 3px;
    padding: 5px;
    border-radius: 3px;
}
.single_blog_tags ul li a {
    color: var(--white-color);
}
.single_social_icon ul li {
    display: inline-block;
    margin-right: 15px;
}
.single_social_icon ul li:last-child {
    margin-right: 0;
}
.single_social_icon ul li a {
    color: var(--first-color);
    font-size: 20px;
}
.single_social_icon ul li a:hover {
    color: var(--second-color);
}
#comment_form .btn {
    background-color: var(--first-color);
    color: var(--white-color);
    border: none;
}
#comment_form .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
    border: none;
}
#comments img {
    width: 50px;
    height: 50px;
}
#visitor_comments {
    border-bottom: 1px solid var(--black-color);
    padding-top: 20px;
}
#related_post_div {
    margin-bottom: 40px;
}
#related_post_div h4 {
    color: var(--second-color);
}
#related_post_div h4:hover {
    color: var(--first-color);
}
#related_post_div p, small {
    color: var(--black-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #blog_single_page {
        padding: 30px 0;
    }
    #blog_single {
        padding-bottom: 30px;
    }
    #blog_tag_and_social {
        display: block !important;
    }
    #blog_tag_and_social .single_social_icon {
        margin-top: 20px;
    }
}
/* Single Blog */


/* Contact Us */
.contact_first{
    padding: 50px 0;
}
.contact_first input{
    margin-bottom: 10px;
}
.contact_first .btn {
    margin-top: 20px;
    background-color: var(--first-color);
    color: var(--white-color);
}
.contact_first .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.contact_first h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.contact_first h2 {
    font-size: 50px;
    margin-top: 20px;
}
.contact_first ul {
    margin-top: 30px;
}
.contact_first ul li {
    padding: 5px 0;
    font-size: 18px;
}
.contact_first ul li i {
    color: var(--second-color);
}
.contact_second {
    background-color: var(--offwhite-color);
}
.contact_second h3 {
    font-size: 40px;
}
.contact_second .btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.contact_second .btn:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    .contact_first{
        padding: 30px 0;
    }
    .contact_first h2 {
        font-size: 35px;
    }
    .contact_second h3 {
        font-size: 35px;
    }
    .form_side {
        margin-top: 20px;
    }
}
/* Contact Us */


/* Get In Touch */
.getQuote_first{
    padding: 50px 0;
}
.getQuote_first .form_side {
    background-color: var(--offwhite-color);
    padding: 30px;
    border-radius: 10px;
}
.getQuote_first input{
    margin-bottom: 10px;
}
.getQuote_first select{
    margin-bottom: 10px;
}
.getQuote_first .btn {
    margin-top: 20px;
    background-color: var(--first-color);
    color: var(--white-color);
}
.getQuote_first .btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.getQuote_first h5 {
    display: inline;
    background-color: var(--first-color);
    color: var(--offwhite-color);
    padding: 0 15px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
}
.getQuote_first h2 {
    font-size: 50px;
    margin-top: 20px;
}
.getQuote_first ul {
    margin-top: 30px;
}
.getQuote_first ul li {
    padding: 5px 0;
    font-size: 18px;
}
.getQuote_first ul li i {
    color: var(--second-color);
}
#getQuote_second {
    padding: 50px 0;
    background-color: var(--black-color);
}
#getQuote_second h3 {
    color: var(--white-color);
    font-size: 40px;
}
#getQuote_second .swiper img {
    width: 100px;
    margin: auto;
    filter: grayscale(100%);
}
#getQuote_second .swiper img:hover {
    filter: grayscale(0%);
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #getQuote_second .swiper img {
        width: 80px;
    }
    .getQuote_first h2 {
        font-size: 40px;
    }
    #getQuote_second h3 {
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
    }
}
/* Get In Touch */


/* FAQ */
#faq_page {
    padding: 60px 0;
}
#faq_page h2 {
    font-size: 60px;
    font-weight: 400;
}
.faq_form_box {
    background-color: var(--offwhite-color);
    padding: 20px;
    border-radius: 10px;
}
.faq_form_box .btn {
    background-color: var(--first-color);
    color: var(--white-color);
    margin-top: 30px;
}
.faq_form_box .btn:hover {
    background-color: var(--red-color);
    color: var(--white-color);
}
.accordion-button:focus {
    box-shadow: none;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    #faq_page {
        padding: 30px 0;
    }
    #faq_page h2 {
        font-size: 40px;
    }
    .faq_form_box {
        margin-top: 30px;
    }
}
/* FAQ */


/* Footer */

footer {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),url("../image/high-res-image-test.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
footer .footer_first_part {
    padding: 30px 0;
    background-color: var(--first-color);
}
footer .footer_first_part {
    font-size: 35px;
    color: var(--white-color);
}
.footer_subscribe_part {
    padding: 30px 0;
    color: var(--white-color);
}
.footer_subscribe_part h4 {
    font-size: 35px;
}
footer hr {
    color: var(--white-color);
}
footer .footer_first_part i {
    color: var(--white-color);
    font-size: 20px;
}
footer .footer_first_part h3 {
    color: var(--white-color);
    font-size: 40px;
    font-weight: 500;
    font-style: italic;
}
footer .footer_first_part p {
    color: var(--white-color);
}

footer .footer_second_part {
    padding: 50px 0;
    background-color: var(--white-color);
}
footer .footer_second_part img {
    width: 170px;
    height: 100%;
    margin-bottom: 30px;
}
.subscribe_btn {
    background-color: var(--first-color);
    color: var(--white-color);
}
.footer_learn_more_btn {
    color: var(--white-color);
    background-color: var(--first-color);
}
.footer_learn_more_btn:hover {
    background-color: var(--second-color);
    color: var(--white-color);
}
.subscribe_btn:hover {
    background-color: var(--first-color);
    color: var(--white-color);
}

footer .footer_second_part h5 {
    font-weight: 400;
    font-size: 23px;
    font-style: italic;
}
footer .footer_second_part h6 {
    color: var(--white-color);
}
footer .footer_social_media ul li {
    display: inline-block;
    margin-left: 20px;
}
footer .footer_social_media ul li a {
    color: var(--first-color);
    font-size: 20px;
    transition: all .5s ease-in-out;
}
footer .footer_social_media ul li a:hover {
    color: var(--first-color);
    transition: all .5s ease-in-out;
}
footer .quick_link_menu li {
    margin: 10px 0;
}
footer .quick_link_menu li a {
    color: var(--black-color);
}
footer .quick_link_menu li a i {
    color: var(--black-color);
}
footer .support_link_menu li {
    margin: 10px 0;
}
footer .support_link_menu li a {
    color: var(--black-color);
}
footer .support_link_menu li a i {
    color: var(--black-color);
}
footer .footer_social_media ul li:first-child {
    margin-left: 0;
}

footer .footer_copywrite_part {
    background-color: var(--first-color);
    padding: 10px 0;
    color: var(--white-color);
}
footer .footer_copywrite_part a {
    text-decoration: none;
    color: var(--white-color);
}
#payment_icons {
    background-color: var(--offwhite-color);
}
#payment_icons img {
    width: 700px;
}
@media only screen and (min-width: 300px) and (max-width: 500px) {
    footer .footer_first_part h3 {
        font-size: 30px;
    }
    footer .footer_second_part h5 {
        margin-top: 30px;
    }
    #payment_icons img {
        width: 400px;
    }
    .footer_learn_more_btn {
        margin-bottom: 15px;
    }
}
@media only screen and (min-width: 501px) and (max-width: 900px) {
    .footer_learn_more_btn {
        margin-bottom: 25px;
    }
}


#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    z-index: 999;
    background-color: var(--second-color);
}
#btn-back-to-top i {
    color: var(--white-color);
}